<footer class="site-footer" style="margin-top: 0;">
    <!-- <div class="site-footer__bg" style="
background-image: url(assets/images/protein-images/footer-background.png);
"></div> -->
    <div class="site-footer__ripped-paper" style="
background-image: url(assets/images/shapes/site-footer-ripped-paper.png);
"></div>
    <div class="container">
        <div class="site-footer__top">
            <div class="row self-row-spc-arnd">
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__about">
                        <div class="footer-widget__logo">
                            <!-- <a href="index.html">
                            <img src="assets/images/resources/footer-logo.png" alt="" />
                            Netura
                        </a> -->
                            <a href="/">
                                <!-- <img src="assets/images/resources/logo-1.png" alt="" /> -->
                                <img src="assets\images\netura-logo\netura-logo-header-white.png" alt="netura-logo" />
                                <p>Your Healthy Food</p>
                            </a>
                        </div>
                        <div class="footer-widget__about-text-box">
                            <!-- <p class="footer-widget__about-text">
                            Natural Protein for <br />
                            your kids
                        </p> -->
                        </div>
                        <div class="footer-widget__social-box">
                            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
                            <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                            <a
                                href="https://wa.me/+919441777714?text=Hello,%20I'm%20interested%20in%20protein%20powder"><i
                                    class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                <div class="footer-widget__column footer-widget__explore">
                    <div class="footer-widget__title-box">
                        <h3 class="footer-widget__title">Explore</h3>
                    </div>
                    <div class="footer-widget__explore-list-box">
                        <ul class="footer-widget__explore-list list-unstyled">
                            <li><a href="about.html">About Company</a></li>
                            <li><a href="services.html">Our Services</a></li>
                            <li><a href="pricing.html">Become a Seller</a></li>
                            <li><a href="products.html">New Products</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div> -->
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="footer-widget__column footer-widget__contact">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title">Contact</h3>
                        </div>
                        <p class="footer-widget__contact-text">
                            Gondwana Ayurveda & Herbal Products
                            <br />
                            20-b, Arjun Nagar, Near Rampur Gurudwara,
                            <br />
                            Ambala Cantt, Haryana, 133001
                        </p>
                        <ul class="list-unstyled footer-widget__contact-list">
                            <li>
                                <div class="text">
                                    <p>
                                        <a href="tel:+919034738577">+91 9034738577</a>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="text">
                                    <p>
                                        <a href="mailto:info@netura.in">info@netura.in</a>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                <div class="footer-widget__column footer-widget__gallery">
                    <div class="footer-widget__title-box">
                        <h3 class="footer-widget__title">Gallery</h3>
                    </div>
                    <ul class="footer-widget__gallery-list list-unstyled clearfix">
                        <li>
                            <div class="footer-widget__gallery-img">
                                <img src="assets/images/gallery/kid.jpeg" alt="" />
                                <a href="portfolio-details.html"><span class="fa fa-link"></span></a>
                            </div>
                        </li>
                        <li>
                            <div class="footer-widget__gallery-img">
                                <img src="assets/images/gallery/cartoon-milk-small.png" alt="" />
                                <a href="portfolio-details.html"><span class="fa fa-link"></span></a>
                            </div>
                        </li>
                        <li>
                            <div class="footer-widget__gallery-img">
                                <img src="assets/images/gallery/cashew-small.png" alt="" />
                                <a href="portfolio-details.html"><span class="fa fa-link"></span></a>
                            </div>
                        </li>
                        <li>
                            <div class="footer-widget__gallery-img">
                                <img src="assets/images/gallery/pumpkin-seed-small.png" alt="" />
                                <a href="portfolio-details.html"><span class="fa fa-link"></span></a>
                            </div>
                        </li>
                        <li>
                            <div class="footer-widget__gallery-img">
                                <img src="assets/images/gallery/protein-shake-small.png" alt="" />
                                <a href="portfolio-details.html"><span class="fa fa-link"></span></a>
                            </div>
                        </li>
                        <li>
                            <div class="footer-widget__gallery-img">
                                <img src="assets/images/gallery/powder-small.png" alt="" />
                                <a href="portfolio-details.html"><span class="fa fa-link"></span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> -->
            </div>
        </div>
    </div>
    <!-- <div class="site-footer__bottom">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="site-footer__bottom-inner">
                    <div class="site-footer__bottom-left">
                        <p class="site-footer__bottom-text">
                            © Copyright 2023 by <a href="index.html#">Netura</a>
                        </p>
                    </div>
                    <div class="site-footer__bottom-right">
                        <ul class="list-unstyled site-footer__bottom-menu">
                            <li><a href="about.html">Terms & Conditions</a></li>
                            <li><span>/</span></li>
                            <li><a href="about.html">Privacy Policy</a></li>
                            <li><span>/</span></li>
                            <li><a href="about.html">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
</footer>

</html>