<%- include("header") %>
  <%- include("navbar") %>

    <body class="order-form-bg">

      <section class="login-form">

        <div class="form-group">

          <h4>Please enter your registered email</h4>

          <form action="/forgot-password" method="post">
            <input type="email" class="form-control muted-input mt-4" name="email" placeholder="email" required />
            <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 30px">Send reset link</button>
          </form>

          <form action="/" method="get">

            <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 20px">
              Back to Home
            </button>

        </div>
        </form>
      </section>

      <%- include("mobileSidebar") -%>
      <%- include("scripts") -%>
    </body>

    </html>