<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netura</title>
    <!-- favicons Icons -->
    <!-- <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/netura-logo/netura-meta-logo.png"
    /> -->
    <link
      rel="icon"
      type="image/png"
      sizes="10x10"
      href="/assets/images/netura-logo/netura-meta-logo.png"
    /> 
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="manifest" href="/assets/images/favicons/site.webmanifest" />
    <meta name="description" content="Protein Powder" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&family=Manrope:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="/assets/vendors/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="/assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="/assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/assets/vendors/jarallax/jarallax.css" />
    <link
      rel="stylesheet"
      href="/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="/assets/vendors/nouislider/nouislider.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/vendors/nouislider/nouislider.pips.css"
    />
    <link rel="stylesheet" href="/assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="/assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="/assets/vendors/ogenix-icons/style.css" />
    <link
      rel="stylesheet"
      href="/assets/vendors/tiny-slider/tiny-slider.min.css"
    />
    <link rel="stylesheet" href="/assets/vendors/reey-font/stylesheet.css" />
    <link
      rel="stylesheet"
      href="/assets/vendors/owl-carousel/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/vendors/owl-carousel/owl.theme.default.min.css"
    />
    <link rel="stylesheet" href="/assets/vendors/bxslider/jquery.bxslider.css" />
    <link
      rel="stylesheet"
      href="/assets/vendors/bootstrap-select/css/bootstrap-select.min.css"
    />
    <link rel="stylesheet" href="/assets/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="/assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="/assets/vendors/timepicker/timePicker.css" />
    <link rel="stylesheet" href="/assets/vendors/nice-select/nice-select.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <!-- template styles -->
    <link rel="stylesheet" href="/assets/css/ogenix.css" />
    <link rel="stylesheet" href="/assets/css/ogenix-responsive.css" />

    <!--  -->
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
