<%- include("header") %>
  <%- include("navbar") %>

    <body class="order-form-bg">

      <section class="login-form">

        <div class="form-group">

          <h4>Please enter new password</h4>

          <form action="/reset-password" method="post">
            <input type="password" class="form-control muted-input mt-4" name="password" placeholder="new password" required />
            <input type="password" class="form-control muted-input mt-4" name="confirmPassword" placeholder="confirm password" required />
            <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 30px">Save</button>
          </form>

          <form action="/" method="get">

            <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 20px">
              Back to Home
            </button>

        </div>
        </form>
      </section>

      <%- include("mobileSidebar") -%>
      <%- include("scripts") -%>
    </body>

    </html>