<%- include("header") -%>
    <%- include("navbar") -%>


        <body>

            <section
                style="width: 350px; margin: auto; border-style: solid; border-radius: 10px;border-color: lightgrey; padding: 30px;text-align: center;margin-top: 100px;">
                <div class="form-group">

                    <h4>Thankyou for shopping with us.</h4>
                    <p>Your Payment is under review. You will receive a confirmation message on registered mobile number
                        once your payment is confirmed.
                    </p>

                    <form action="/" method="get">
                        <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 20px">
                            Back to Home
                        </button>
                    </form>

                </div>

            </section>

        </body>

        <%- include("mobileSidebar") -%>
      <%- include("scripts") -%>

        </html>